.usercard:hover {
  box-shadow: 2px 2px 10px rgb(236, 234, 234), -2px -2px 10px rgb(233, 230, 230),
    2px 2px 10px rgb(233, 227, 227), -2px -2px 10px rgb(235, 229, 229);
  cursor: pointer;
  transform: scale(1.05);
}
.usercard {
  background-color: #19142ec5;

  margin-bottom: 40px;
}
.text {
  background-color: #19142ec5;
}
.text b {
  background-color: #19142ec5;
}
